pymongo.ipynb
dist
.ipynb_checkpoints
.pytest_cache
/mongomv/__pycache__
/mongomv/client/__pycache__
/mongomv/core/__pycache__
/mongomv/schemas/__pycache__
/mongomv/services/__pycache__
/tests/__pycache__
lab